<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace = "~{fragments::head}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace = "~{fragments::main-top}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace = "~{fragments:: main-top}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace = "~{fragments::top-search}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div th:replace = "~{fragments:: all-title-box}"></div>
    <!-- End All Title Box -->

    <section id="register-form">
        <div class="noi-dung">
            <div class="form">
                <h2>Register</h2>

                <form >
                    <div class="input-form">
                    </div>
                    <div class="input-form">

                    </div>

                        <div class="input-form">
                            <div class="input-form">
                            <input type="email" placeholder="Username" name="username" th:field = "*{username}" required>
                        </div>
                    <div class="input-form">

                    </div>
                    <div class="input-form">

                    </div>
                    <div class="input-form">

                    </div>
                    <div class="input-form">
                        <input type="submit" value="Sign up">
                    </div>
                        </div>
                </form>
                <h3>Log In With Social Network</h3>
                <ul class="icon-dang-nhap">
                    <li><i class="fab fa-facebook-f"></i></i></li>
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-weibo"></i></li>
                </ul>
            </div>
        </div>
    </section>

    <footer th:replace = "~{fragments:: footer}"></footer>

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <div th:replace = "~{fragments::script}"></div>
</body>

</html>